<h2>Todo List</h2>

<div *ngIf="todoList">
  <ul *ngFor="let todo of todoList">
    <li [ngClass]="{'done': todo.done}">
      <div class="title">
        <input type="checkbox"
          [id]="todo.id"
          [checked]="todo.done"
          (change)="onChangeDone($event, todo)"/>
        <h3>
          <a [routerLink]="['/todo', todo.id]">{{ todo.title }}</a>
        </h3>
      </div>
      <p *ngIf="todo.description">
        Description: {{ todo.description }}
      </p>
    </li>
  </ul>
</div>
